// Specific CSS for your home-page
.container {
  height: 100vh;
}


body{
  background: $grey;
  font-family: 'Lato', sans-serif;
  color: $text;
}

h1, h2 {
  color: #FFA349;
  font-weight: lighter;
}

.btn {
  background-color: #FFA349;
  color: white;
  font-weight: bold;
  &:hover{
    opacity: 0.8;
    color: white;
    font-weight: lighter;
  }
}

.link_to {
  color: #FFA349;
  text-decoration: none;
}

.link_to:hover{
  color: #FFA349;
  text-decoration: none;
}
