<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/sailemarinho" target="_blank"><i class="fab fa-github"></i></a>
    <a href="https://www.facebook.com/saile.msr"target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/in/sailemarinho/"target="_blank"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This website was made with <i class="fas fa-heart"></i> By Saile Marinho
  </div>
</div>
