<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to cocktails_path, class: "navbar-brand" do %>
    <%= image_tag "https://cdn4.iconfinder.com/data/icons/Retro_50s/png/martini.png" %>
  <% end %>
  <%= image_tag "https://dewey.tailorbrands.com/production/brand_version_mockup_image/176/2024501176_293cc5fb-62ee-4e59-87e6-e8dd6fe3a406.png?cb=1558735759" %>
  <%= link_to "Mix Cocktail", new_cocktail_path, class: "btn btn-outline-dark btn-lg" %>
</div>
