.navbar-lewagon {
  justify-content: space-between;
  background: white;
  color: white;
  font-family: helvetica;
  padding: 20px;
  font-size: 2.75rem;
  background-color: darkslateblue;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

