.navbar-lewagon {
  justify-content: space-between;
  font-family: helvetica;
  padding: 24px;
  background-color: white;
  height: 104px;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

